<!DOCTYPE html>
<html lang="en">
<head>
<title>CSS Website Layout</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style de header */
.header {
  background-color: #f1cfc3;
  padding: 20px;
  text-align: center;
}

/* Style de bovenste navigatiebalk */
.topnav {
  overflow: hidden;
  background-color: #A0B9E0;
}

/* Style de topnav links */
.topnav a {
  float: left;
  display: block;
  color: #E0E2ED;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Verander de kleur bij het zweven */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Maak drie ongelijke kolommen die naast elkaar zweven */
.column {
  float: left;
  padding: 10px;
}

/* Kolom links en rechts */
.column.side {
  width: 25%;
}

/* Middelste kolom */
.column.middle {
  width: 50%;
}

/* Duidelijke drijvers na de kolommen */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/*  Responsieve lay-out - zorgt ervoor dat de drie kolommen op elkaar worden gestapeld in plaats van naast elkaar*/
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}
</style>
</head>
<body>

<div class="header">
  <h1>Header</h1>
  <p>Resize the browser window to see the responsive effect.</p>
</div>

<div class="topnav">
  <a href="index.html">index</a>
  <a href="binairstelsel.html">binairstelsel</a>
  <a href="kleurmodellen.html">kleurmodellen</a>
</div>


</body>
</html>
